<!DOCTYPE html>
<html>

<head>
    <title>Book Management System</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>
    <h1>All Books</h1>
    <table>
        <tr>
            <th>Book Name</th>
            <th>Book Author</th>
            <th>Book Pages</th>
            <th>Book Price</th>
            <th>Book Availability</th>
            <th>Issue</th>
            <th>Return</th>
            <th>Delete</th>
        </tr>
        <% data.forEach(element=> { %>
            <tr>
                <td>
                    <%= element.title %>
                </td>
                <td>
                    <%= element.author %>
                </td>
                <td>
                    <%= element.pages %>
                </td>
                <td>
                    <%= element.price %>
                </td>
                <td>
                    <%= element.state %>
                </td>
                <td>
                    <form id="issueBookForm-<%= element.id %>">
                        <input type="text" style="display: none;" name="title" value="<%= element.title %>">
                        <button type="button" onclick="issueBook('<%= element.id %>')">Issue</button>
                    </form>
                </td>
                <td>
                    <form action="/return" method="post">
                        <input type="text" style="display: none;" 
                               name="title">
                        <button type="submit">Return</button>
                    </form>
                </td>
                <td>
                    <form action="/delete" method="post">
                        <input type="text" style="display: none;" 
                               name="title" 
                               value="<%= element.title %>">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
    </table>

    <h1>Add Book</h1>

    <form action="/addBook" method="post">
        <input type="text" placeholder="Book Name" 
               name="title">
        <input type="text" placeholder="Book Author" 
               name="author">
        <input type="number" placeholder="Book Pages" 
               name="pages">
        <input type="number" placeholder="Book Price" 
               name="price">
        <button type="submit">Add</button>
    </form>

    <script>
        async function issueBook(id) {
            const form = document.getElementById(`issueBookForm-${id}`);
            const formData = new FormData(form);
            const title = formData.get('title');
    
            try {
                const response = await fetch('/issueBook', {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ title: title })
                });
    
                if (response.ok) {
                    // Handle successful response
                    const data = await response.json();
                    console.log('Book issued successfully', data);
                    // Optionally, update the UI or perform other actions
                    window.location.reload(); // Reload the page to see changes
                } else {
                    console.error('Failed to issue book');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>

</body>

</html>
